#artist-tool-pushpendratiwari{
    background-color: rgb(24, 42, 77);
    color: rgb(88, 84, 41);
    border: 5px solid rgb(88, 84, 41);
    border-radius: 10px;
    text-align: center;
    width: 70rem;
}

.st-emotion-cache-1n76uvr.e1f1d6gn2{
    width: 70rem;
}

div.st-emotion-cache-k7vsyb.e1nzilvr2{
    display: flex;
    justify-content: center;
    align-items: center;
}